DR-TANet/
osfstorage-archive/
figures/
SceneChangeDet/
Videos/
checkpoints_DR_TANet/
DRTANet/
vl_cmu_cd_binary_mask/
.ipynb_checkpoints/
.DS_Store
*.ipynb
!significance.ipynb
deeplab_v2_voc12.pth
CMU.pth
vanilla_params.tex
lasso_params.tex
naives_exp3_params.tex
naives_exp5_params.tex
naives_exp7_params.tex
naives_exp9_params.tex
naives_exp11_params.tex